.over-view-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
}

.over-view-container h2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.product-grid {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
